@use 'variables' as v;

footer {
  width: 100%;
  height: 24.6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
  background-color: v.$light-b;
  div {
    color: hsla(0, 40%, 98%, 1);
    font-size: 1.4rem;
    line-height: 2rem;
    ul {
      li {
        a {
          color: hsla(0, 40%, 98%, 1);
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
  .footer-marvel-logo {
    grid-row: 3/5;
    align-self: start;
  }
  .footer-firstlist {
    grid-row: 2/4;
    align-self: flex-start;
    ul {
      li {
        padding: 12px;
      }
      :first-child {
        padding-top: 0px;
      }
      li:hover a {
        padding-left: 10px;
        color: v.$red-m;
      }
    }
  }
  .footer-secondlist {
    grid-row: 2/4;
    align-self: flex-start;
    ul {
      li {
        padding: 12px;
      }
      :first-child {
        padding-top: 0px;
      }
      li:hover a {
        padding-left: 10px;
        color: v.$red-m;
      }
    }
  }
  .footer-social {
    grid-column: 5/6;
    grid-row: 2/4;
    p {
      text-align: center;
    }
    .social {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      margin-top: 18px;
    }
    .f {
      display: inline-block;
      background-image: url(/assets/icon/Social-Icons/facebook-g.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .f:hover {
      background-image: url(/assets/icon/Social-Icons/Facebook.svg);
    }
    .t {
      display: inline-block;
      background-image: url(/assets/icon/Social-Icons/twitter-g.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .t:hover {
      background-image: url(/assets/icon/Social-Icons/Twitter.svg);
    }
    .i {
      display: inline-block;
      background-image: url(/assets/icon/Social-Icons/instagram-g.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .i:hover {
      background-image: url(/assets/icon/Social-Icons/Instagram.svg);
    }
    .y {
      display: inline-block;
      background-image: url(/assets/icon/Social-Icons/youtube-g.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .y:hover {
      background-image: url(/assets/icon/Social-Icons/Youtube.svg);
    }
  }
}
