@use 'variables' as v;

header {
  width: 100%;
  padding: 15px 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'a b '
    'c c';
  place-items: center;
  z-index: 1;
  .header-nav {
    grid-area: b;
    place-self: center;
    display: block;
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      place-items: center;
      li {
        padding: 10px;
        a {
          font-size: 1.4rem;
          color: v.$light-b;
        }
      }
      :hover {
        transform: scale(1.5, 1.5);
        color: v.$red-m;
      }
    }
  }
  button {
    display: none;
    cursor: pointer;
    background: none;
    box-shadow: none;
    border: none;
    img {
      width: 40px;
      height: 40px;
    }
  }
  :focus {
    border: rgb(105, 68, 68) solid 1px;
  }
}
