@font-face {
    font-family: manrope;
    src: url(/Manrope/static/Manrope-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: manrope;
    src: url(/Manrope/static/Manrope-Bold.ttf);
    font-weight: 700;
}

ul,a{
    text-decoration:none;
    list-style-type: none;
}


*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 }
 
 html{
      font-size:62.5%;
      font-family: manrope;
      font-weight: 700;
 }